@import "../../styles/variables.scss";

ul{
	list-style-type: none;
	padding: 0;
}
.main {

	max-width: 500px;
	min-width: 502px;
	@media (max-width: 767px){
		max-width: 100%;
	}
	@media (max-width: 545px){
		min-width: 100%;
	}

	.main__filters {
		width: 100%;
		min-height: 50px;
		@include flex;
		justify-content: center;
		margin: 0 0 20px 0;
		border-radius: 5px;
		border: 1px solid #DFE5EC;
		background-color: $light-color;

	}


	.main__filters > li:nth-of-type(2) > p {
		border-left: 1px solid #DFE5EC;
		border-right: 1px solid #DFE5EC;
	}
	
	.main__filter {
		padding: 15px 25px;
		color: $primary-color;
		text-decoration: none;
		text-align: center;
		margin: 0;
		text-transform: uppercase;	
		letter-spacing: 0.5px;
		line-height: 20px;
		font-size: $title-size;
		&:hover{
			background-color: $hover-color;
		}
		@media (max-width: 408px){
			padding: 0 5px;
		}
		&:active {
			background: $active-color;
			color: $light-color
		}
	}

	._clicking {
		
	}

	.main__filter._clicking {
		&:hover{
			background: $active-color;
			color: $light-color;
		}
	}

	.main__pagination{
		font-size: $title-size;
		line-height: 20px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: $light-color;
		background-color: $active-color;
		border: none;
		width: 100%;
		border-radius: 5px;
		min-height: 50px;
		margin: 20px auto 50px;
	}
}

.error-text{
	color: $primary-color;
	font-size: $title-size;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 80px;
}